body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: black;
    color: var(--color);
    font-size: 21px;
}

#main {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 0.8rem;
}

#left_side {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#right_side {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#curlist {
    flex-grow: 1;
    min-height: 350px;
    resize: none;
    background-color: rgb(0, 0, 0);
    color: var(--color);
    font-size: 1rem;
    border: 1px solid var(--color);
    padding: 0.35rem;
    outline: none;
}

#container {
    border: 1px solid var(--color);
    padding: 0.35rem;
    cursor: default;
    display: table;
    width: 100%;
    position: relative;
    border-collapse: collapse;
    margin-top: 0.5rem;
}

.item {
    display: table-row;
    height: 100%;
    border: 1px solid var(--color);
}

.item_icon, .item_curl, .item_text, .item_updated
{
    display: table-cell;
    padding-right: 0.5rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
}

.item_icon {
    width: 1%;
    cursor: pointer;
    text-align: left;
}

.item_icon_canvas {
    width: 2.5rem;
    height: auto;
    vertical-align: middle;
    text-align: left;
}

.item_curl {
    color: var(--color);
    width: 188px;
    overflow: hidden;
    text-align: left;
}

.item_text {
    text-align: left;
}

.item_updated {
    color: var(--color);
    white-space: nowrap;
    text-align: right;
}

/*  */

#controls, #edit {
    display: flex;
    flex-direction: row;
    gap: 0.88rem;
}

a:visited,
a:link,
a:hover
{
	color: var(--color);
}

.pointer {
    cursor: pointer;
    user-select: none;
}

input[type="text"], input[type="password"] {
    background-color: rgb(0, 0, 0);
    color: var(--color);
    border: 1px solid var(--color);
    padding: 0.15rem;
    outline: none;
    width: 7rem;
    font-size: 1rem;
}

#edit_text {
    width: 11rem;
}

button {
    background-color: rgb(0, 0, 0);
    color: var(--color);
    border: 1px solid var(--color);
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    padding: 0.15rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

button:hover {
    background-color: var(--color);
    color: rgb(0, 0, 0);
}

select {
    background-color: rgb(0, 0, 0);
    color: var(--color);
    border: 1px solid var(--color);
    outline: none;
    font-size: 1rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.hidden {
    display: none !important;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blink {
    animation: blink 500ms infinite;
}

#left_top {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

#curlist_top {
    flex-grow: 1;
    flex-shrink: 1;
}

#add {
    flex-grow: 0;
    flex-shrink: 0;
}

@keyframes colorchange {
    0%   {border-color: rgb(255, 102, 102);}
    25%  {border-color: rgb(125, 255, 125);}
    50%  {border-color: rgb(157, 157, 255);}
    100% {border-color: white;}
  }

.active {
    animation: colorchange 800ms infinite;
}