body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    background-color: black;
    color: var(--color);
    font-size: 18px;
}

#main {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    gap: 0.8rem;
}

#left_side {
    width: 200px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#right_side {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#curlist {
    flex-grow: 1;
    min-height: 350px;
    resize: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1rem;
    border: 1px solid var(--color);
    color: var(--color);
    padding: 0.35rem;
    outline: none;
}

/* Make #container and its children a table layout */

#container {
    border: 1px solid var(--color);
    padding: 0.35rem;
    cursor: default;
    display: table;
    width: 100%;
    position: relative;
    border-collapse: collapse;
}

.item {
    display: table-row;
    height: 100%;
    border: 1px solid var(--color);
}

.item_icon, .item_curl, .item_content, .item_updated
{
    display: table-cell;
    padding-right: 0.5rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
}

.item_icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding-left: 0.5rem;
}

.item_curl {
    color: white;
    font-weight: bold;
}

.item_content {
    /*  */
}

.item_updated {
    color: gray;
    white-space: nowrap;
}

/*  */

#controls, #edit {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.button {
    text-decoration: underline;
    cursor: pointer;
}

a:visited,
a:link,
a:hover
{
	color: var(--color);
}

.pointer {
    cursor: pointer;
}

input[type="text"] {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid var(--color);
    padding: 0.15rem;
    outline: none;
    width: 9rem;
    font-size: 0.9rem;
}

button {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid var(--color);
    cursor: pointer;
    outline: none;
    font-size: 0.9rem;
    padding: 0.15rem;
}

select {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 1px solid var(--color);
    outline: none;
    font-size: 0.9rem;
}

.hidden {
    display: none;
}