{% extends "base.html" %}

{% block title %}
Change Curl
{% endblock %}

{% block body %}
<form method="post" action="/change">
    <div id="main">
        <div class="header">Change</div>
        <input type="text" id="curl" placeholder="Curl" name="curl" autocomplete="on">
        <input type="password" placeholder="Key" name="key" autocomplete="on">
        <input type="text" placeholder="Status" name="status" autocomplete="on">
        <input type="submit" value="Change">

        <br><br>

        You can also do this using the terminal:

        <br><br>

        <div>
            curl -X POST -d "curl=mycurl&key=mykey&status=mystatus" https://this.website/change
        </div>
    </div>
</form>

<script>
    window.onload = () => {
        let curl = document.querySelector("#curl")
        curl.focus()
    }
</script>
{% endblock %}
