<!doctype html>

<head>
    <title>Curls Dashboard</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/css/style.css') }}">
    <script src="{{ url_for('static', filename='dashboard/js/bundle.libs.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard/js/bundle.main.js') }}"></script>

    <script>
        App.version = "{{ version }}";
    </script>
</head>

<body>
    <div id="main">
        <div id="left_side">
            <div class="button" id="curlist_top" title="Click to show the curlist menu"></div>
            <input type="text" id="curlist_filter" placeholder="Filter">

            <div id="curlist_container" tabindex="0">
                <div id="curlist"></div>
            </div>

            <div class="button" id="claim" title="Get a key to control a new curl">Claim Your Own</div>
        </div>

        <div id="right_side">
            <div id="controls">
                <div class="control_bar">
                    <div class="button" id="toggle_curlist" title="Toggle the curlist">&lt;</div>
                    <div class="button" id="color"></div>
                    <div class="button" id="sort"></div>
                    <div class="button" id="updater"></div>
                    <input type="text" id="filter" placeholder="Filter">
                    <div class="button" id="filter_button">Filters</div>
                </div>

                <div class="control_bar">
                    <div class="button" id="picker" title="Switch to other curls you own">$</div>
                    <input type="text" id="change_curl" placeholder="Curl" title="A curl you own">
                    <input type="password" id="change_key" placeholder="Key" title="The key used to control the curl">
                    <div class="button" id="status_button">@</div>
                    <input type="text" id="change_status" placeholder="Status" spellcheck="true" title="The new status of the curl">
                    <div class="button" id="change_submit" title="Change the status of the curl">Change</div>
                </div>
            </div>

            <div id="container_outer">
                <div id="container"></div>
            </div>

            <div id="footer">
                <div class="footer_item">
                    <div class="button" id="scroller_top" title="Scroll to the top">To Top</div>
                    <div class="button" id="scroller_bottom" title="Scroll to the bottom">Bottom</div>
                </div>

                <div class="footer_item">
                    <div class="button" id="font"></div>
                    <div class="button" id="border"></div>
                    <div class="button" id="footer_more">More</div>
                </div>

                <div class="glow noselect" id="version" title="The current version of Curls and the Dashboard">v{{ version }}</div>
            </div>
        </div>

        <div id="peek"></div>
    </div>

    <template id="alert_template">
        <div class="modal_items">
            <div class="modal_message" id="alert_message"></div>

            <div id="alert_buttons">
                <div class="modal_button" id="alert_copy">Copy</div>
                <div class="modal_button" id="alert_ok">Okay</div>
            </div>
        </div>
    </template>

    <template id="prompt_template">
        <div class="modal_items">
            <div class="modal_message" id="prompt_message"></div>
            <input type="text" id="prompt_input" placeholder="Type something" list="curls_datalist">
            <div class="modal_button" id="prompt_submit">Submit</div>
        </div>
    </template>

    <template id="confirm_template">
        <div class="modal_items">
            <div class="modal_message" id="confirm_message"></div>
            <div class="modal_button" id="confirm_ok" tabindex="0">Confirm</div>
        </div>
    </template>

    <datalist id="curls_datalist"></datalist>
</body>
