<!doctype html>

<head>
    <title>Curls Dashboard</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.jpg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/css/style.css') }}">
    <script src="{{ url_for('static', filename='dashboard/js/bundle.libs.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard/js/bundle.main.js') }}"></script>
</head>

<body>
    <div id="main">
        <div id="left_side">
            <div class="glow" id="curlist_top" title="Click to show a menu"></div>
            <input type="text" id="curlist_filter" placeholder="Filter">

            <div id="curlist_container">
                <div id="curlist" tabindex="0"></div>
            </div>

            <div class="button" id="claim" title="Get a key to control a new curl">Claim Your Own</div>
        </div>

        <div id="right_side">
            <div id="controls">
                <div class="button" id="toggle_curlist" title="Toggle the curlist">&lt;</div>
                <div class="button" id="color"></div>
                <div class="button" id="sort"></div>
                <div class="button" id="updater"></div>
                <input type="text" id="filter" placeholder="Filter" title="Filter the items">
                <div class="button" id="filter_button">@</div>
                <div title="The current version of Curls and the Dashboard">v{{version}}</div>
            </div>

            <div id="change">
                <div class="button" id="picker" title="Switch to other curls you own">$</div>
                <input type="text" id="change_curl" placeholder="Curl" title="A curl you own">
                <input type="password" id="change_key" placeholder="Key" title="The key used to control the curl">
                <input type="text" id="change_status" placeholder="Status" spellcheck="true" title="The new status of the curl">
                <div class="button" id="change_submit" title="Change the status of your curl">Change</div>
            </div>

            <div id="container_container">
                <div id="container"></div>
            </div>
        </div>

        <div id="peek"></div>
    </div>
</body>
