<!doctype html>

<head>
    <title>Curls Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <script src="{{ url_for('static', filename='jdenticon.js') }}"></script>
    <script src="{{ url_for('static', filename='dateformat.js') }}"></script>
    <script src="{{ url_for('static', filename='dom.js') }}"></script>
    <script src="{{ url_for('static', filename='needcontext.js') }}"></script>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>

    <script>
        window.onload = () => {
            App.setup()
        }
    </script>
</head>

<body>
    <div id="main">
        <div id="left_side">
            <div class="pointer" id="curlist_top">List of curls</div>
            <textarea id="curlist" spellcheck="false" placeholder="One per line"></textarea>
        </div>

        <div id="right_side">
            <div id="controls">
                <div class="pointer" id="updater">Updating every 5 minutes</div>
                <button id="update">Update</button>

                <select id="sort">
                    <option value="recent">Recent</option>
                    <option value="order">Order</option>
                    <option value="alpha">Alpha</option>
                </select>

                <select id="color">
                    <option value="red">Red</option>
                    <option value="green">Green</option>
                    <option value="blue">Blue</option>
                    <option value="yellow">Yellow</option>
                    <option value="purple">Purple</option>
                    <option value="white">White</option>
                </select>
            </div>

            <div id="edit">
                <input type="text" id="edit_curl" placeholder="Curl" autocomplete="on">
                <input type="password" id="edit_key" placeholder="Key" autocomplete="on">
                <input type="text" id="edit_content" placeholder="Content" autocomplete="on">
                <button id="edit_submit">Edit</button>
            </div>

            <div id="container"></div>
        </div>
    </div>
</body>
