{% extends "base.html" %}

{% block title %}
Curls
{% endblock %}

{% block body %}
<form method="post" action="/change">
    <div id="main">
        <div class="header">Curls</div>

        <div>A curl is a text status that only you can update.</div>

        <br><br>

        <div>There is no history, comments, or anything, it's just text that you update.</div>

        <br>

        <a href="/claim">Claim your own curl</a>
        <a href="/change">Change the status of a curl you already own</a>
        <a href="/dashboard">Monitor curls in the Dashboard</a>

        <br>

        <div>To view a curl from a browser:

        <div>Go to: https://this.website/[curl]</div>

        <br>

        <div>To view a curl from the terminal:</div>

        <div>curl https://this.website/[curl]</div>

        <br>

        The response is pure text.
    </div>
</form>
{% endblock %}
