:root {
    --background: rgb(10, 10, 10);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-color: var(--background);
    color: var(--color);
    font-size: 19px;
}

#main {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    width: 100vw;
    height: 100vh;
    padding-left: 0.66rem;
    padding-right: 0.66rem;
    padding-top: 0.74rem;
    padding-bottom: 0.74rem;
    box-sizing: border-box;
}

#left_side {
    width: 190px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
}

#right_side {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#curlist_container {
    flex-grow: 1;
    border: 1px solid var(--color);
    overflow-x: hidden;
    overflow-y: auto;
}

#curlist {
    display: table;
    background-color: var(--background);
    color: var(--color);
    font-size: 1rem;
    outline: none;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    scrollbar-width: none;
    border-collapse: collapse;
    width: 100%;
}

#curlist::-webkit-scrollbar {
    width: 0;
}

.curlist_item {
    display: table-row;
    cursor: default;
    user-select: none;
    padding-top: 0.09rem;
    padding-bottom: 0.09rem;
}

.curlist_item_curl {
    display: table-cell;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.curlist_item.selected {
    background-color: var(--color);
    color: var(--background);
}

#container_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 0.5rem;
}

#container {
    display: table;
    cursor: default;
    border-collapse: collapse;
}

.item {
    display: table-row;
    border: 1px solid var(--color);
}

.item_icon,
.item_curl,
.item_status,
.item_updated {
    display: table-cell;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    vertical-align: middle;
}

.item_icon {
    width: 2.5rem;
    justify-content: center;
    cursor: pointer;
    text-align: left;
}

.item_icon_canvas {
    display: flex;
    width: 100%;
    height: auto;
    text-align: left;
    align-items: center;
    justify-content: center;
}

.item_icon:hover .item_icon_canvas {
    filter: brightness(1.5);
}

.item_curl {
    color: var(--color);
    width: 150px;
    text-align: left;
    margin-right: 0.8rem;
}

.item_status {
    text-align: left;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 0.8rem;
}

.item_updated {
    color: var(--color);
    white-space: nowrap;
    text-align: right;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 0.5rem;
    cursor: pointer;
}

/*  */

#controls,
#change {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.88rem;
}

#change {
    padding-top: 0.35rem;
}

a:visited,
a:link,
a:hover {
    color: var(--color);
}

.pointer {
    cursor: pointer;
    user-select: none;
}

input[type="text"],
input[type="password"] {
    background-color: var(--background);
    color: var(--color);
    border: 1px solid var(--color);
    padding: 0.125rem;
    padding-left: 0.25rem;
    outline: none;
    width: 7rem;
    font-size: 1rem;
}

.button {
    background-color: var(--background);
    color: var(--color);
    border: 1px solid var(--color);
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    padding: 0.09rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    user-select: none;
}

.button:hover {
    background-color: var(--color);
    color: var(--background);
}

.button:active {
    transform: translateY(1px);
}

select {
    background-color: var(--background);
    color: var(--color);
    border: 1px solid var(--color);
    outline: none;
    font-size: 1rem;
    padding: 0.125rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.hidden {
    display: none !important;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blink {
    animation: blink 500ms infinite;
}

@keyframes colorchange {
    0% {
        border-color: rgb(255, 102, 102);
    }

    25% {
        border-color: rgb(125, 255, 125);
    }

    50% {
        border-color: rgb(157, 157, 255);
    }

    100% {
        border-color: white;
    }
}

.button.active {
    animation: colorchange 1s infinite;
    border-radius: 8px;
}

.glow:hover {
    text-shadow: 0 0 10px var(--color), 0 0 20px var(--color), 0 0 30px var(--color), 0 0 40px var(--color), 0 0 50px var(--color), 0 0 60px var(--color);
}

.glow_white:hover {
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white;
}

.glow {
    cursor: pointer;
    user-select: none;
}

.glow_white {
    cursor: pointer;
    user-select: none;
}

#claim {
    text-align: center;
}

#peek {
    display: none;
    position: fixed;
    z-index: 999;
    background-color: rgb(28, 28, 28);
    border: 1px solid white;
    color: white;
    max-width: 800px;
    min-width: 450px;
    right: 20px;
    top: 20px;
    align-items: center;
    justify-content: center;
}

#peek.active {
    display: flex;
    flex-direction: column;
    gap: 0.66rem;
}

.peek_icon {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    cursor: pointer;
    width: 6rem;
}

.peek_icon_canvas {
    width: 100%;
    height: auto;
    justify-content: center;
}

.peek_icon:hover .peek_icon_canvas {
    filter: brightness(1.5);
}

.peek_curl {
    font-weight: bold;
}

.peek_status {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.peek_updated {
    padding-bottom: 0.88rem;
}

.peek_close {
    position: absolute;
    right: 1rem;
    top: 0.62rem;
}

#curlist_filter {
    width: 100%;
    box-sizing: border-box;
}